@media only screen and (min-width: 1920px){
    .o-title {
        font-size: 16rem;
    }
    .c-about p{
        font-size: 4.2rem;
        line-height: 3.39rem;
    }
    .c-services p{
        font-size: 2.4rem;
        line-height: 2.4rem;
      }
      .c-title__row h2{
        font-size: 25rem;
      }

      .c-t-a-info{
        gap: 12vw;
      }

      .c-works hr {
        margin: 12vh 0 11vh 14%;
      }
}