@import url(./uilities.css);
@import url(./responsive.css);

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 5vh;
  padding: 0 7vw;
  z-index: 10;
}

nav a {
  font-size: 1.2rem;
  line-height: 1.42rem;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  position: relative;
  text-decoration: none;
  pointer-events: all;
}

nav a:after,
nav a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4e4e4e;
  height: 1.2px;
  transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
nav a:after {
  right: 0;
  transform-origin: right;
}
nav a:before {
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition-delay: 0.2s;
}
nav a:hover:after {
  transform: scaleX(0);
  transition: 0;
}
nav a:hover:before {
  transform: scale(1);
  transition-delay: 0;
}
