@font-face {
  font-family: Gilroy;
  src: url(./Font/Gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: Gilroy;
  src: url(./Font/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Mazius;
  src: url(./Font/Maziuz/MAZIUSREVIEW20.09-Extraitalic.otf);
}

:root {
  --Gilroy-FF: Gilroy;
  --Mazius-FF: Mazius;
  --border-color: #adadad;
  --accent-color: #14cf93;
  --black: #161616;
  --tomato: #ff6347;
  --background: #fcfaf8;
  --text-white: #ffffff;
  --para-color: #414141;
  --hr-color: rgba(65, 65, 65, 0.3);
  --secondary-bg: #f2f2f2;
  --small-title-color: #a2a2a2;
  --title-color: #383838;
  --easing: cubic-bezier(0, 0.89, 0.41, 1);
  --side-margin: 5vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px  */
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 94%;
  font-family:var(--Gilroy-FF);
  font-weight: 400;
  color: var(--title-color);
}
a{
  text-decoration: none;
  font-family: var(--Gilroy-FF);
  line-height: 121%;
  color:var(--title-color);
}
.o-title {
  font-size: 14rem;
  letter-spacing: -2px;
}
.c-title__row h2{
  font-size: 20.2rem;
  letter-spacing: -4px;
}
.c-about p{
  font-size: 3.37rem;
  line-height: 3.2rem;
}
.c-services p{
  font-size: 2rem;
  line-height: 2.2rem;
}

p{
  font-family: var(--Gilroy-FF);
  line-height: 121%;
  color: var(--para-color);
}

.u-non{
  color: var(--accent-color);
}

.o-accent {
  font-family: mazius, sans-serif;
}
h1 .o-accent,
h2 .o-accent,
h3 .o-accent {
  color: #14cf93;
}

.o-title-small{
  display: block;
  font-size: 1rem;
  color:var(--small-title-color);
  text-transform: uppercase;
  margin-bottom: 25px;
  width: 26vw;
}

.main{

}